@font-face {
    font-family: 'QlassikBold';
    src: url('qlassikbold_tb-webfont.eot');
    src: url('qlassikbold_tb-webfont.eot?#iefix') format('embedded-opentype'),
         url('qlassikbold_tb-webfont.woff') format('woff'),
         url('qlassikbold_tb-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: DiavloBold;
  font-weight: bold;
  src: url('Diavlo_BOLD_II_37.otf'); /* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
}

@font-face {
  font-family: FontinRegular;
  font-weight: normal;
  src: url('Fontin-Regular.otf'); /* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
}

