<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-itunes-app" content="app-id=591678815">
<meta name="google-site-verification" content="wXK0DR_6jij0FNuuEPvAGbV7RuN8xf0fA_vdfUDUVEs" />
<meta property="og:title" content="Pilot SSH" />
<meta property="og:image" content="http://pilotssh.com/img/iPhoneicon.png" />
<meta property="og:url"   content="http://pilotssh.com" />
<meta property="og:site_name" content="Pilot SSH" />
<meta property="og:type"  content="website" />
<meta name="twitter:card"   content="summary" />
<meta name="twitter:url"    content="http://pilotssh.com" />
<meta name="twitter:title"  content="Pilot SSH" />
<meta name="twitter:image"  content="http://pilotssh.com/img/iPhoneicon.png" />
<meta name="twitter:author" content="@gcouprie" />
<meta name="twitter:description" content="With Pilot SSH, manage processes, read logs, backup databases, all in a few touches" />
<title>$title$</title>

<!-- media-queries.js -->
<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<!-- html5.js -->
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


<link href="font/stylesheet.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link href="css/media-queries.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="fancybox/jquery.fancybox-1.3.4.css" media="screen" />

<meta name="viewport" content="width=device-width" />
 
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

<link href='http://fonts.googleapis.com/css?family=Exo:400,800' rel='stylesheet' type='text/css'>

</head>

<body data-spy="scroll">

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
	
			<a class="brand pull-left" href="#">
			PilotSSH
			</a>
	
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
		
			<div class="nav-collapse collapse">
				<ul id="nav-list" class="nav pull-right">
					<li class="scroll"><a href="#home">Home</a></li>
					<li class="scroll"><a href="#about">About</a></li>
					<li class="scroll"><a href="#updates">Updates</a></li>
					<li class="scroll"><a href="#screenshots">Screenshots</a></li>
					<li class="scroll"><a href="#thanks">Thanks</a></li>
          <li class="scroll"><a href="#contact">Contact</a>
          <li><a href="faq">FAQ</a></li>
          <li><a href="blog/">Blog</a></li>
				</ul>
			</div>
		
		</div>
	</div>
</div>

$body$

<div class="footer container container-fluid">
	<div id="copyright">
		Copyright &copy; 2012-2013 Geoffroy Couprie<br>
	</div>
	
	<div id="credits">
		<a href="http://www.trippoinc.com/flexapp">Theme</a> by <a href="http://www.trippoinc.com">Trippo</a>.
	</div>

</div>

<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-collapse.js"></script>
<script src="js/bootstrap-scrollspy.js"></script>
<script src="fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<script src="fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37346831-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script src="js/init.js"></script>
</body>
</html>
