<div class="container content container-fluid" id="home" itemscope itemtype="http://schema.org/SoftwareApplication">
	<div class="row-fluid">
		<div class="span5 visible-desktop">
			<img src="img/phones.png" alt="Pilot SSH for iPhone" itemprop="image">
		</div>
	
		<div class="span7">
	
			<div class="visible-desktop" id="icon">
				<img src="img/app_icon.png" itemprop="logo" />
        <span itemprop="logoImageUrl" content="http://pilotssh.com/img/app_icon.png"></span>
        <span itemprop="logoHrefUrl" content="https://pilotssh.com"></span>
			</div>
			
			<div id="app-name">
        <h1><span itemprop="name">Pilot<span>SSH</span></span></h1>
			</div>
			
			<div id="version">
				<span class="version-top label label-inverse">Version 1.0</span>
			</div>
            
			<div id="tagline">
				Pilot your servers in a few touches!
			</div>
		
			<div class="hidden-desktop" id="phones">
				<img src="img/phones.png" itemprop="image">
      </div>
            
			<div id="description" itemprop="description">
        Restart servers, read logs, manage users and processes... With PilotSSH, everything can be done in a few touches! As powerful as a shell connection, but infinitely easier to use.
			</div>
            
			<ul id="features">
        <li>Flexible actions: you can customize everything</li>
        <li>Secure storage with SQLCipher</li>
        <li>Safe connections with libSSH2</li>
				<li>As many servers as you want</li>
        <li>Released for <span itemprop="operatingSystems" content="iOS">iPhone</span>, soon on Android</li>
			</ul>

      <div>
        <div class="download-box" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <a href="https://itunes.apple.com/us/app/pilot-ssh/id591678815?l=fr&ls=1&mt=8" itemprop="url"><img src="img/available-on-the-app-store.png"></a>
          <div class="productinfo">
            <h3>Price: $<span itemprop="price">4.99</span></h3>
            <meta itemprop="priceCurrency" content="USD" />
            <h4 itemprop="name">Pilot SSH for iPhone</h4>
            <strong>Requirements:</strong><br>
            Compatible with iPhone and iPod touch. Requires iPhone OS 5 or later. WiFi, Edge, or 3G network connection required.
          </div>
        </div>
        <div class="download-box">
          <a href="#"><img class="overlay" src="img/android_app_on_play_logo_large.png"></a>
			    <div class="productinfo">
			    	Available soon
          </div>
        </div>
      </div>
		</div>
    <link itemprop="SoftwareApplicationCategory" href="http://schema.org/NetworkingApplication" />
	</div>
	
	<div class="row-fluid" id="about">
	
		<div class="span6">
			<h2 class="page-title" id="scroll_up">
				About
				<a href="#home" class="arrow-top">
				<img src="img/arrow-top.png">
				</a>
			</h2>
			
      <p>PilotSSH is a secure application for server administration.</p>
      <p>It uses a set of scripts on the server side to create a nice graphical user interface. The scripts are all open source and free to use, and available on <a href="https://github.com/Geal/PilotSSH-scripts">Github</a>.</p>
		  <p><iframe width="152px" scrolling="0" height="30px" frameborder="0" allowtransparency="true" src="github-btn.html?user=Geal&amp;repo=PilotSSH-scripts&amp;type=watch&amp;count=false&amp;size=large"></iframe>	
		</div>
	
		<div class="span6 updates" id="updates">
			<h2 class="page-title" id="scroll_up">
				Updates
				<a href="#home" class="arrow-top">
				<img src="img/arrow-top.png">
				</a>
			</h2>
			
      <h3 class="version">A script for WordPress</h3>
      <span class="release-date">January 22th, 2012</span>
      <ul>
        <li><span class="label label-info">NEW</span>A <a href="https://github.com/Geal/PilotSSH-scripts/tree/master/wordpress">WordPress administration script</a> to backup and restore your database, and upgrade or rollback WordPress versions</li>
      </ul>
      <hr>

      <h3 class="version">Version <span itemprop="softwareVersion">1.0</span></h3>
      <span class="release-date" itemprop="datePublished">January 14th, 2012</span>
      <ul>
        <li><span class="label label-info">NEW</span>Release of the iPhone/iPod application</li>
        <li><span class="label label-info">NEW</span>The Android application is in development</li>
      </ul>
      <hr>
			<h3 class="version">Beta test</h3>
			<span class="release-date">December 21th, 2012</span>
			<ul>
				<li><span class="label new">NEW</span>The iPhone application is currently in private beta test</li>
			</ul>
			<hr>
		</div>
	
	</div>
	
	<div class="row-fluid" id="screenshots">
		
		<h2 class="page-title" id="scroll_up">
				Screenshots
				<a href="#home" class="arrow-top">
				<img src="img/arrow-top.png">
				</a>
			</h2>
		
		<ul class="thumbnails">
			<li class="span4">
				<a href="img/wordpress.png" rel="gallery" class="thumbnail">
				  <img src="img/wordpress.png" alt="WordPress Administration for iPhone" itemprop="screenshot" />
        </a>
        <h3><a href="script/wordpress-admin">WordPress admin</a></h3>
        <p>Back up and restore your database, upgrade WordPress versions (or rollback to the previous working version). No need to edit the configuration file, the app asks directly for the configuration options.</p>
			</li>

			<li class="span4">
				<a href="img/process_list.png" rel="gallery" class="thumbnail">
				  <img src="img/process_list.png" alt="Process list" itemprop="screenshot" />
				</a>
        <h3><a href="script/process-list">Process list</a></h3>
        <p>Display the list of running process, and kill one of them when touched</p>
			</li>
		
			<li class="span4">
				<a href="img/apache_sites.png" rel="gallery" class="thumbnail">
				 <img src="img/apache_sites.png" alt="Apache configuration" itemprop="screenshot" />
        </a>
        <h3><a href="script/apache-configuration">Apache sites</a></h3>
        <p>Show which sites are enabled in Apache. Enable and disable them with a touch</p>
			</li>
			
		</ul>	
		
		<ul class="thumbnails">
			<li class="span4">
				<a href="img/power.png" rel="gallery" class="thumbnail">
				  <img src="img/power.png" alt="Uptime" itemprop="screenshot" />
        </a>
        <h3><a href="script/uptime">Uptime</a></h3>
        <p>Display the uptime. Shut down and reboot the server</p>
			</li>

			<li class="span4">
				<a href="img/server_logs.png" rel="gallery" class="thumbnail">
				  <img src="img/server_logs.png" alt="Logs" itemprop="screenshot" />
				</a>
        <h3><a href="script/logs">Logs</a></h3>
        <p>Show the server logs</p>
			</li>

			<li class="span4">
				<a href="img/index.png" rel="gallery" class="thumbnail">
				  <img src="img/index.png" alt="Script index for Pilot SSH" itemprop="screenshot" />
				</a>
        <h3><a href="script/index">Index</a></h3>
        <p>The first script called by Pilot SSH. Modify it to register your new scripts</p>
			</li>
    </ul>
	
	<div class="row-fluid" id="contact">
	
		<h2 class="page-title" id="scroll_up">
				Contact
				<a href="#home" class="arrow-top">
				<img src="img/arrow-top.png">
				</a>
			</h2>
		
		<div class="span4" id="contact-info">
      <p>I am always happy to hear from PilotSSH users. Please share your cool scripts with the world!</p>
			<p><a href="" onmouseover="this.setAttribute('href', 'moc.hsstolip@tcatnoc:otliam'.split('').reverse().join(''))">Support email</a></p>
		</div>

    <div class="span7" id="contact-form">
      <div class="author" itemscope itemtype="http://data-vocabulary.org/Person">
        <h3>Developed by <span itemprop="name">Geoffroy Couprie</span></h3>
        <a href="http://geoffroycouprie.com"><img src="img/avatar.png" id="avatar" alt="Geoffroy Couprie" itemprom="photo" /></a>
        <p>I am a <span itemprop="role">freelance</span> <span itemprop="title">mobile and web developer</span> specializing in the design and prototyping of secure systems, living in <span itemprop="address" itemscope
              itemtype="http://data-vocabulary.org/Address"><span itemprop="locality">Nantes</span>, <span itemprop="country-name">France</span></span>.</p>
            <p>I am <a href="http://geoffroycouprie.com" itemprop="url">available for software development and performance audits</a>.</p>
        <br />
        <p><a href="http://twitter.com/gcouprie" class="twitter-follow-button" data-button="grey" data-text-color="#FFFFFF" data-link-color="#00ACEE" data-show-count="false" data-size="large">Follow @gcouprie</a>
        </p>
        <p><a href="https://plus.google.com/115926906442991310585?rel=author">Google+</a>
        <p><iframe width="200px" scrolling="0" height="30px" frameborder="0" allowtransparency="true" src="github-btn.html?user=Geal&amp;type=follow&amp;count=true&amp;size=large"></iframe></p>
      </div>
    </div>
	</div>

  <div class="row-fluid" id="thanks">
    <h2 class="page-title" id="scroll_up">
        Thanks
        <a href="#home" class="arrow-top">
        <img src="img/arrow-top.png">
        </a>
    </h2>

		<ul>
			<li class="span4">
        <h3>LibSSH2</h3>
        <p><a href="http://www.libssh2.org/">LibSSH2</a> is used to secure the connection to your server</p>
			</li>

			<li class="span4">
        <h3>SQLCipher by Zetetic</h3>
        <p>Your credentials are safe thanks to <a href="http://sqlcipher.net/">SQLCipher</a>'s database</p>
			</li>

			<li class="span4">
        <h3>Sam Ahmed, from The Noun Project</h3>
        <p>PilotSSH's icon is inspired from <a href="http://thenounproject.com/noun/network/#icon-No3180">the network icon</a></p>
			</li>
		</ul>
  </div>
</div>

